LiveMultimediaHttpHandler/Service References/LiveMultimediaServiceReferenceIIS/LiveMultimediaSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveMultimediaData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveMultimediaData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMultimediaFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultimediaFile" nillable="true" type="tns:MultimediaFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultimediaFile" nillable="true" type="tns:ArrayOfMultimediaFile" />
  <xs:complexType name="MultimediaFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultimediaFileGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeMultimedia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSelectMultimediaFile" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultimediaFile" nillable="true" type="tns:MultimediaFile" />
  <xs:complexType name="ClientInternetBrowser">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrowserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrowserVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInternetBrowser" nillable="true" type="tns:ClientInternetBrowser" />
  <xs:complexType name="ArrayOfMultimediaSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MultimediaSource" nillable="true" type="tns:MultimediaSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMultimediaSource" nillable="true" type="tns:ArrayOfMultimediaSource" />
  <xs:complexType name="MultimediaSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdMultimediaSource" type="xs:int" />
      <xs:element minOccurs="0" name="NameMultimediaSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleBackColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleBorderColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleFontSize" type="xs:int" />
      <xs:element minOccurs="0" name="StyleForeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleHeight" type="xs:int" />
      <xs:element minOccurs="0" name="StyleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StyleWidth" type="xs:int" />
      <xs:element minOccurs="0" name="TitleMultimediaSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultimediaSource" nillable="true" type="tns:MultimediaSource" />
</xs:schema>