LiveMultimediaSite/Service References/LiveMultimediaService/LiveMultimediaService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveMultimediaOAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveMultimediaOAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OAuthToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authentication_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expires_in" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refresh_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OAuthToken" nillable="true" type="tns:OAuthToken" />
</xs:schema>