LiveMultimediaSite/Service References/LiveMultimediaService/LiveMultimediaService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="LiveMultimediaService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="LiveMultimediaService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="LiveMultimediaService/Imports">
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd0" namespace="LiveMultimediaService" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiveMultimediaData" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LiveMultimediaOAuth" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/StorageInterfacesData" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Specialized" />
      <xsd:import schemaLocation="https://service.live-mm.com/LiveMultimediaService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveMultimediaService_LocalLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalLogin" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalLogout" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetListMultimediaFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetListMultimediaFiles" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetListMultimediaFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetListMultimediaFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalListMultimediaFilesAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalListMultimediaFilesAdd" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalListMultimediaFilesAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalListMultimediaFilesAddResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalListMultimediaFilesRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalListMultimediaFilesRemove" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalListMultimediaFilesRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalListMultimediaFilesRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteLogin" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteLogout" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteRegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteRegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteRegisterNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteRegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteUpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteUpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteUpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteUpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetListMultimediaSource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListMultimediaSource" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetListMultimediaSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListMultimediaSourceResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetSettings" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetMultimediaFileGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetMultimediaFileGUID" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetMultimediaFileGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetMultimediaFileGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalSetMultimediaFileBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalSetMultimediaFileBuffer" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalSetMultimediaFileBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalSetMultimediaFileBufferResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalSetMultimediaFileAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalSetMultimediaFileAttributes" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalSetMultimediaFileAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalSetMultimediaFileAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_OAuthSetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:OAuthSetToken" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_OAuthSetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:OAuthSetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistSave_InputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistSave" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistLoad" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistDelete" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistItemSave_InputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistItemSave" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistItemSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistItemSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistItemRemove_InputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistItemRemove" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemotePlaylistItemRemove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemotePlaylistItemRemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguages" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetLocalization_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetLocalization" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_LocalGetLocalization_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalGetLocalizationResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteGetLocalization_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteGetLocalization" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteGetLocalization_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteGetLocalizationResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetBreadCrumbs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBreadCrumbs" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetBreadCrumbs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBreadCrumbsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_CheckAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthorization" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_CheckAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteCreateMultimediaJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCreateMultimediaJob" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteCreateMultimediaJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCreateMultimediaJobResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteCancelMultimediaJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCancelMultimediaJob" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_RemoteCancelMultimediaJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoteCancelMultimediaJobResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetMultimedia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultimedia" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetMultimedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultimediaResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetTypeMultimedia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeMultimedia" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_GetTypeMultimedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeMultimediaResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_Tracing_InputMessage">
    <wsdl:part name="parameters" element="tns:Tracing" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_Tracing_OutputMessage">
    <wsdl:part name="parameters" element="tns:TracingResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:TraceInformation" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceWarning_InputMessage">
    <wsdl:part name="parameters" element="tns:TraceWarning" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceWarning_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraceWarningResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceError_InputMessage">
    <wsdl:part name="parameters" element="tns:TraceError" />
  </wsdl:message>
  <wsdl:message name="ILiveMultimediaService_TraceError_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraceErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveMultimediaService">
    <wsdl:operation name="LocalLogin">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalLogin" message="tns:ILiveMultimediaService_LocalLogin_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalLoginResponse" message="tns:ILiveMultimediaService_LocalLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalLogout">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalLogout" message="tns:ILiveMultimediaService_LocalLogout_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalLogoutResponse" message="tns:ILiveMultimediaService_LocalLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalGetListMultimediaFiles">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetListMultimediaFiles" message="tns:ILiveMultimediaService_LocalGetListMultimediaFiles_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetListMultimediaFilesResponse" message="tns:ILiveMultimediaService_LocalGetListMultimediaFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalListMultimediaFilesAdd">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalListMultimediaFilesAdd" message="tns:ILiveMultimediaService_LocalListMultimediaFilesAdd_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalListMultimediaFilesAddResponse" message="tns:ILiveMultimediaService_LocalListMultimediaFilesAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalListMultimediaFilesRemove">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalListMultimediaFilesRemove" message="tns:ILiveMultimediaService_LocalListMultimediaFilesRemove_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalListMultimediaFilesRemoveResponse" message="tns:ILiveMultimediaService_LocalListMultimediaFilesRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteLogin">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteLogin" message="tns:ILiveMultimediaService_RemoteLogin_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteLoginResponse" message="tns:ILiveMultimediaService_RemoteLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteLogout">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteLogout" message="tns:ILiveMultimediaService_RemoteLogout_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteLogoutResponse" message="tns:ILiveMultimediaService_RemoteLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteRegisterNewUser">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteRegisterNewUser" message="tns:ILiveMultimediaService_RemoteRegisterNewUser_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteRegisterNewUserResponse" message="tns:ILiveMultimediaService_RemoteRegisterNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteUpdateUserInfo">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteUpdateUserInfo" message="tns:ILiveMultimediaService_RemoteUpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteUpdateUserInfoResponse" message="tns:ILiveMultimediaService_RemoteUpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListMultimediaSource">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetListMultimediaSource" message="tns:ILiveMultimediaService_GetListMultimediaSource_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetListMultimediaSourceResponse" message="tns:ILiveMultimediaService_GetListMultimediaSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalGetSettings">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetSettings" message="tns:ILiveMultimediaService_LocalGetSettings_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetSettingsResponse" message="tns:ILiveMultimediaService_LocalGetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalGetMultimediaFileGUID">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetMultimediaFileGUID" message="tns:ILiveMultimediaService_LocalGetMultimediaFileGUID_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetMultimediaFileGUIDResponse" message="tns:ILiveMultimediaService_LocalGetMultimediaFileGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalSetMultimediaFileBuffer">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalSetMultimediaFileBuffer" message="tns:ILiveMultimediaService_LocalSetMultimediaFileBuffer_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalSetMultimediaFileBufferResponse" message="tns:ILiveMultimediaService_LocalSetMultimediaFileBuffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalSetMultimediaFileAttributes">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalSetMultimediaFileAttributes" message="tns:ILiveMultimediaService_LocalSetMultimediaFileAttributes_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalSetMultimediaFileAttributesResponse" message="tns:ILiveMultimediaService_LocalSetMultimediaFileAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OAuthSetToken">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/OAuthSetToken" message="tns:ILiveMultimediaService_OAuthSetToken_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/OAuthSetTokenResponse" message="tns:ILiveMultimediaService_OAuthSetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemotePlaylistSave">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistSave" message="tns:ILiveMultimediaService_RemotePlaylistSave_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistSaveResponse" message="tns:ILiveMultimediaService_RemotePlaylistSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemotePlaylistLoad">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistLoad" message="tns:ILiveMultimediaService_RemotePlaylistLoad_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistLoadResponse" message="tns:ILiveMultimediaService_RemotePlaylistLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemotePlaylistDelete">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistDelete" message="tns:ILiveMultimediaService_RemotePlaylistDelete_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistDeleteResponse" message="tns:ILiveMultimediaService_RemotePlaylistDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemotePlaylistItemSave">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistItemSave" message="tns:ILiveMultimediaService_RemotePlaylistItemSave_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistItemSaveResponse" message="tns:ILiveMultimediaService_RemotePlaylistItemSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemotePlaylistItemRemove">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistItemRemove" message="tns:ILiveMultimediaService_RemotePlaylistItemRemove_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemotePlaylistItemRemoveResponse" message="tns:ILiveMultimediaService_RemotePlaylistItemRemove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetLanguages" message="tns:ILiveMultimediaService_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetLanguagesResponse" message="tns:ILiveMultimediaService_GetLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalGetLocalization">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetLocalization" message="tns:ILiveMultimediaService_LocalGetLocalization_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/LocalGetLocalizationResponse" message="tns:ILiveMultimediaService_LocalGetLocalization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteGetLocalization">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteGetLocalization" message="tns:ILiveMultimediaService_RemoteGetLocalization_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteGetLocalizationResponse" message="tns:ILiveMultimediaService_RemoteGetLocalization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetItems" message="tns:ILiveMultimediaService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetItemsResponse" message="tns:ILiveMultimediaService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBreadCrumbs">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetBreadCrumbs" message="tns:ILiveMultimediaService_GetBreadCrumbs_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetBreadCrumbsResponse" message="tns:ILiveMultimediaService_GetBreadCrumbs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuthorization">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/CheckAuthorization" message="tns:ILiveMultimediaService_CheckAuthorization_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/CheckAuthorizationResponse" message="tns:ILiveMultimediaService_CheckAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteCreateMultimediaJob">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteCreateMultimediaJob" message="tns:ILiveMultimediaService_RemoteCreateMultimediaJob_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteCreateMultimediaJobResponse" message="tns:ILiveMultimediaService_RemoteCreateMultimediaJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoteCancelMultimediaJob">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteCancelMultimediaJob" message="tns:ILiveMultimediaService_RemoteCancelMultimediaJob_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/RemoteCancelMultimediaJobResponse" message="tns:ILiveMultimediaService_RemoteCancelMultimediaJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultimedia">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetMultimedia" message="tns:ILiveMultimediaService_GetMultimedia_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetMultimediaResponse" message="tns:ILiveMultimediaService_GetMultimedia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeMultimedia">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetTypeMultimedia" message="tns:ILiveMultimediaService_GetTypeMultimedia_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/GetTypeMultimediaResponse" message="tns:ILiveMultimediaService_GetTypeMultimedia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tracing">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/Tracing" message="tns:ILiveMultimediaService_Tracing_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TracingResponse" message="tns:ILiveMultimediaService_Tracing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraceInformation">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceInformation" message="tns:ILiveMultimediaService_TraceInformation_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceInformationResponse" message="tns:ILiveMultimediaService_TraceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraceWarning">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceWarning" message="tns:ILiveMultimediaService_TraceWarning_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceWarningResponse" message="tns:ILiveMultimediaService_TraceWarning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraceError">
      <wsdl:input wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceError" message="tns:ILiveMultimediaService_TraceError_InputMessage" />
      <wsdl:output wsaw:Action="LiveMultimediaService/ILiveMultimediaService/TraceErrorResponse" message="tns:ILiveMultimediaService_TraceError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>