LiveMultimediaApplication/Service References/LiveMultimediaService/LiveMultimediaService91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StorageInterfacesData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StorageInterfacesData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageInfo" nillable="true" type="tns:ArrayOfLanguageInfo" />
  <xs:complexType name="LanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NativeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
  <xs:complexType name="ArrayOfLocalizationElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizationElement" nillable="true" type="tns:LocalizationElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalizationElement" nillable="true" type="tns:ArrayOfLocalizationElement" />
  <xs:complexType name="LocalizationElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizationElement" nillable="true" type="tns:LocalizationElement" />
</xs:schema>